html,
body {
	margin: 0;
	padding: 0;
	background-color: #31bfaf;
}

main {
	display: flex;
	width: 85%;
	height: 704px;
	background-color: #31bfaf;
	background-size: cover;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	flex-wrap: wrap;
	margin: 0 auto;
}

section {
	display: flex;
	height:90%;
	justify-content: center;
	flex-direction: column;
	align-self:flex-start;
}

.heading {
	align-items: flex-start;
	/* height: 40%; */
	padding-right: 0px;
	margin:0;
	font-family: 'Playfair Display';
	font-size: 11em;
	font-weight: lighter;
	color: white;
	margin: 0;
}

p.slogan {
	font-family: 'Montserrat';
	font-size: 2.8em;
	font-weight: 200;
	font-style: italic;
	color: white;
	margin-top:0;
	margin-left:13px;
}

.btntext {
	font-family: 'Montserrat';
	font-weight: 200;
	font-size: 1.5em;
	color: white;
	margin-top:10%;
	margin-left:12px;
}

.btntext:hover {
	 color:#289a8c;
}

.image {
	width:60%;
	height:75%;
	align-self:flex-end;
}
 #devices {
	 width:794px;
 }

a {
	text-decoration:none;
}


