html,
body {
	margin: 0;
	padding: 0;
	height:100wh;
	
}
main {
	display: flex;
}

nav {
	width: 70px;
	height:100wh;
	background-color: #31bfaf;
}

/* Grön navbar */

nav ul {
	width: 70px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	list-style-type: none;
}

li.a {
	margin: 0;
	text-align: center;
	margin-top: 10px;
	border: none;
}

#logo {
	width: 70%;
	height: 70%;
}

#myFavs {
width:30px;
height:30px;
background-image: url("starFill.svg");
background-repeat:no-repeat;
border:none;
background-color:transparent;
outline:none;
cursor:pointer;
/* margin-right:2px; */
}

/* Listan där preview av anteckningarna hamnar */

#notes {
	display: flex;
	flex-direction: row;
	overflow-wrap: break-word;
	overflow:scroll;
}

#notes ul {
	width: 200px;
	background-color: #eeeeee;
	list-style-type: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#notes ul li {
	display:flex;
	flex-direction:column;
	width: auto;
	height: 120px;
	border-bottom: 1px solid #dadada;
	font-size: 0.8em;
	line-height: 1.5em;
	overflow-wrap: break-word;
	padding: 10px;
	background-size:cover;
}

#notes ul li:hover {
	background-color:rgba(230, 230, 230, 0.933);
}

.title {
	font-family: 'Playfair Display';
	font-size:1.2em;
	margin-bottom:0;
	
}

.created {
	font-family: helvetica;
	font-weight:lighter;
	color:#808080;
	margin-top:0;
}

/* #star {
	width:11%;
	outline:none;
} */

#favourite {
width:20px;
height:20px;
background-image: url("star.svg");
background-repeat:no-repeat;
border:none;
background-color:transparent;
align-self:flex-end;
outline:none;
cursor:pointer;
/* margin-right:2px; */
}

/* #favourite:hover {
	background-image: url("starFill.svg");
} */

/* Editor wrapper */

/* #wrapper {
	flex-grow:1
} */

/* Editor */

/* Editor */

#editor{
	width:1170px;
	height:500px;
	overflow: auto;
	background-color: white;
	border: none !important;
}

/* Toolbar */

.ql-toolbar.ql-snow {
	margin-top:0px;
	width:100%;
	background-color:#31bfaf !important;
	border:none !important;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: white !important;
}

.ql-snow .ql-picker{
  color:white !important;
  background-color:#31bfaf;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
  stroke: white !important;
}
.ql-snow .ql-toolbar.snow, .ql-snow .ql-stroke{
  stroke:white !important;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
	background-color:#31bfaf;
	border:none;
	border-radius:5px;
}