/*  you can also check out the other supported theme - bubble - with floating tooltips by including the css : 
cdn.quilljs.com/1.0.4/quill.bubble.css
 */

body {
  background-color: #222;
  padding: 20px;
}

.container {
  background-color: whitesmoke;
}

#quillEditor {
  height: 180px;
  overflow: auto;
}

#myPrecious:Before {
  color: lightsteelblue;
  content: "Delta (Aka precious content) with .getContents() :\A\A";
}

#myPrecious {
  padding: 20px;
  height: 120px;
  background-color: #444;
  color: orange;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  border-radius: 5px;
  overflow: auto;
  border: 10px solid #444;
}

#justText:Before {
  color: lightsteelblue;
  content: "Just Text with .getText():\A\A";
}

#justText {
  padding: 20px;
  height: 120px;
  background-color: #555;
  color: lightgrey;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  border-radius: 5px;
  overflow: auto;
  border: 10px solid #555;
}

#justHtml:Before {
  color: slategrey;
  font-weight: bold;
  content: "Just Html with root.innerHTML";
}

/* Add you own css or copy it from the theme stylesheet
 */
#justHtml {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0px;
  padding: 20px;
  height: 120px;
  background-color: white;
  border-radius: 5px;
  overflow: auto;
  border: 10px solid white;
  margin-top:10px;  
}